p {
    margin: 0;
}

.Card {
    background: white;
    border-radius: 10px;

}

.Card__index {
    text-align: start ;
    padding: 20px;
}

.Card__img {
    text-align: center;
    width: 100;
    height: 100;
}

.Card__types {
    display: flex;
    justify-content: center;
}

.Card__type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: cyan;
    color: #302b2b;
}

.Card__name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}

.Card__info {
    margin-left: 10px; 
}

.Card__data{
    padding-bottom: 1pt;
    display: flex;
}


.Card__data .title {
    font-weight: 700;
    padding-right: 10px;
}