 
.Navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #FF4236;
    color: white;
}

.home {
    flex-grow: 20;
    padding-left: 12px;
    color: #30a7d7 !important;
}