* {
  box-sizing: border-box;
}

.container {
  justify-content: baseline;
  background: #cdcdcd;
  display: grid;
  flex-wrap: wrap;
 
}


.grid-container {
  flex: 1;
  width: 100%;
  display: grid;
  flex-direction: row;
  margin: o auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.btn {
  /* display: flex; */
  /* justify-content: center !important;  */
  margin: 20px 0;
}

.btn button {
  border-style: none;
  padding: 5px 10px;
  width: 100px;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
  background: #30a7d7;
  color: #fff;
  font-size: 1em;
}